@tailwind base;

@tailwind components;

@tailwind utilities;

.registration-box {
  margin-top: 10rem;
}

.registration-logo {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 150px;
}

.registration-box-text {
  font-family: 'Space Mono', monospace;
}

.registration-button,
.signup-submit-button
{
  font-family: 'Xanh Mono', monospace;
}

.dev-signup-text,
.employer-signup-text,
.sign-in-text
{
  font-family: 'Space Mono', monospace;
  font-size: 40px;
}

.dev-signup-label,
.employer-signup-label,
.signin-label
{
  font-family: 'Source Code Pro', monospace;
}

.dev-splitback{
  background-image: -webkit-linear-gradient(30deg, #a8ffb0 50%, #b6ffea 50%);
}

.dev-signup-img {
  width: 350px;
  height: 350px;
}

.employer-splitback {
  background-image: -webkit-linear-gradient(150deg, #ffd5cd 50%, #efbbcf 50%);
}

.employer-signup-img {
  height: 350;
  width: 375;
}

.navbar-logo {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
  font-size: xx-large;
}

.navbar-logo,
.navbar-user {
  align-self: center;
}

.signin-splitback {
  background-image: -webkit-linear-gradient(90deg, #7579e7 50%, #9ab3f5 50%);
}

.signin-container {
  margin-top: 250px;
  background-color: #b9fffc
}